{% extends "navbar.html" %}
{% load static %}

{% block homeContent %}

<div class = "home">
<h1>Emma's Christmas/Hanukkah List</h1>

    <br>
<h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>

<br>
<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>
<br>
    <h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>

<br>
<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>
<br>
    <h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>
<br>

<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>
 <br>
<h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>

<br>
<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>
<br>
    <h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>

<br>
<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>
<br>
    <h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>
<br>

<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>
 <br>
<h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>

<br>
<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>
<br>
    <h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>

<br>
<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>
<br>
    <h4><marquee behavior="scroll" direction="left">IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH</marquee></h4>
<br>

<h4><marquee behavior="scroll" direction="RIGHT">IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS IT'S HANUKKAH IT'S CHRISTMAS</marquee></h4>

</div>
{% endblock homeContent %}
